.shine-text-container {
    padding: 16px 32px;
    background: transparent;
    border-radius: 10px;
    display: inline-block;
  }
  
  .shine-text-container .shine-text {
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    padding: 0 48px;
  
    background-image: linear-gradient(
      to right,
      rgb(22 163 74 / 0%),
      rgb(251 146 60 / 16%),
      rgb(22 163 74 / 32%)
    );
  
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: -40px;
  }
  
  .shine-text-container:hover .shine-text {
    animation: shineText 2000ms infinite;
  }
  
  @keyframes shineText {
    to {
      background-position: 240px;
    }
  }